body {
    background-color: black;
}
h1 {
    text-align: center; color: red;
}
p {
    text-align: center;color: white;
}
.imagem {
    width: 10%;
    margin-left: 50%;
    border-radius: 30px; color: white;
    position: absolute;
}