body {
    background-color: black;
}
h1 {
    text-align: center; color: red;
}
p {
    text-align: center;color: white;
}
.imagem {
    width: 50%;
    margin-left: 10%;
    border-radius: 15px; color: red;
    position: absolute;
}